@import '../../../styles/variables';

.forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &--dark {
    color: $white;
  }
  &--light {
    color: $black;
  }

  &__title {
    padding: 1rem 0;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
