@import '../../../styles/variables';

.layout {
  &__main {
    min-height: 100vh;

    &-dark {
      background-color: $black-offset;
    }
    &-light {
      background-color: $white-offset;
    }
  }
}
