@import '../../../styles/variables';

.forecast-list-item {
  border-radius: 5px;
  height: 125px;
  width: 500px;
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &--dark {
    background: $primary;
    color: $white;
  }

  &--light {
    color: $black;
    background: $white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  &__area {
    font-size: 1rem;
    width: 100%;
    text-align: center;
    padding: 0.5rem 2rem 0 2rem;
  }

  &__main-temp {
    font-size: 1.5rem;
    font-weight: 300;
    color: $black;
    margin-left: auto;
  }

  &__weather {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 2rem;
  }

  &__details {
    display: flex;
    flex-direction: column;
  }

  &__description {
    font-size: 1rem;
    margin-bottom: 0.25rem;
  }

  &__min-max {
    color: $black;
    font-size: 1rem;
  }
}
